{
    "Version": "2012-10-17",
    "Statement": [
      {
        "Effect": "Allow",
        "Principal": {
          "Service": [${service_principals}]
        },
        "Action": "sts:AssumeRole"
      }
    ]
}
